<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
    </ul>
<% } %>

<%- messages() %>
<div class="account-update">
    <!-- Account update form -->
    <div>
        <h2>Account Update</h2>
        <form action="/account/updateInfo" method="post" class="form-container">
            <div class="form-fields">
                <label for="account_firstname">First name</label>
                <input type="text" name="account_firstname" id="account_firstname" required value="<%= locals.account_firstname %>">

                <label for="account_lastname">Last name</label>
                <input type="text" name="account_lastname" id="account_lastname" required value="<%= locals.account_lastname %>">

                <label for="account_email">Email address</label>
                <input type="email" name="account_email" id="account_email" required placeholder="Enter a valid email address" value="<%= locals.account_email %>">

                <button>Update</button>

                <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>" <% } %>>

            </div>
        </form>
    </div>

    <!-- Password update form -->
    <div>
        <h2>Password Update</h2>
        <form action="/account/updatePassword" method="post" class="form-container">
            <div class="form-fields">
                <label for="account_password">Password</label>
                <div>
                    <p>Password should have:</p>
                        <ul>
                            <li>At least 12 characters</li>
                            <li>1 uppercase letter</li>
                            <li>1 number</li>
                            <li>1 special character</li>
                        </ul>
                </div>
                <input type="password" id="account_password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
                <button>Update Password</button>
                <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>" <% } %>>
            </div>
        </form>
    </div>
</div>