<!-- Content Heading assignment 04 -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
    </ul>
<% } %>

<%- messages() %>

<!-- Add New Inventory Items Display -->
<form action="/inv/add-inventory" method="post" class="form-container">
    <div class="form-fields">
        <label for="classification_id">Classification</label>
        <select name="classification_id">
            <option value="" disabled <%= (!locals.classification_id) ? 'selected' : '' %>>Choose Classification</option>
            <% options.forEach(option => { %>
                <option value="<%= option.value %>" <%= (option.value == locals.classification_id) ? 'selected' : '' %>>
                    <%= option.label %>
                </option>
            <% }) %>
        </select>

        <label for="inv_make">Make</label>
        <input type="text" name="inv_make" required placeholder="Min of 3 characters" value="<%= locals.inv_make %>">

        <label for="inv_model">Model</label>
        <input type="text" name="inv_model" required placeholder="Min of 3 characters" value="<%= locals.inv_model %>">

        <label for="inv_description">Description</label>
        <textarea name="inv_description" cols="30" rows="4" required><%= locals.inv_description %></textarea>

        <label for="inv_image">Image Path</label>
        <input type="text" name="inv_image" required value="/images/vehicles/no-image.png">

        <label for="inv_thumbnail">Thumbnail Path</label>
        <input type="text" name="inv_thumbnail" required value="/images/vehicles/no-image.png">

        <label for="inv_price">Price</label>
        <input type="number" name="inv_price" required placeholder="decimal or integer" value="<%= locals.inv_price %>">

        <label for="inv_year">Year</label>
        <input type="number" name="inv_year" required placeholder="4-digit year" value="<%= locals.inv_year %>">

        <label for="inv_miles">Miles</label>
        <input type="number" name="inv_miles" required placeholder="digits only" value="<%= locals.inv_miles %>">

        <label for="inv_color">Color</label>
        <input type="text" name="inv_color" required value="<%= locals.inv_color %>">

        <button type="submit">Add Vehicle</button>
    </div>
</form>

