<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
    </ul>
<% } %>

<%- messages() %>

<form action="/inv/delete" method="post" class="form-container" id="inventory-form">
    <p>Confirm Deletion - The delete is permanent.</p>
    <div class="form-fields">

        <label for="inv_make">Make</label>
        <input type="text" name="inv_make" required placeholder="Min of 3 characters" value="<%= locals.inv_make %>" readonly>

        <label for="inv_model">Model</label>
        <input type="text" name="inv_model" required placeholder="Min of 3 characters" value="<%= locals.inv_model %>" readonly>
        
        <label for="inv_year">Year</label>
        <input type="number" name="inv_year" required placeholder="4-digit year" value="<%= locals.inv_year %>" readonly>

        <label for="inv_price">Price</label>
        <input type="number" name="inv_price" required placeholder="decimal or integer" value="<%= locals.inv_price %>" readonly>

        <button type="submit" id="inventory-btn">Delete Vehicle</button>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% }  %>>
    </div>
</form>